<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
    <title>Falkirk Trail Runners</title>

</head>
<body>
    <h1>Falkirk Trail Runners</h1>
<nav>
    <ul class="menu">
        <li><a href="/">Home</a></li>
        <li>
</nav>

<aside>
    <a href="/"><button type="submit"></button>Home</a>    
</aside>

<Section>
    {% block content %}
            
    {% endblock content %}
</Section>
</body>
</html> -->