{% extends 'runners/base.html' %}

{% block content %}

<h2> Runner directory</h2>


<section>
    <form action="/runners/new" methods=["GET"]>
    <input type="submit" value="Add New Runner">
    </form>

</section>

    {% for runner in all_runners %}

        <section>
            <p>{{runner.last_name}}, {{ runner.first_name }} </p>
                <form action="/runners/{{ runner.id }}/edit" methods="GET">
                    <input type="submit" value="Edit">
                </form>
            
                <form action="/runners/{{ runner.id }}/delete" method="POST">
                    <label for="delete">Delete this runner ?</label>
                    <input type="submit" id="delete" name="delete" value="Yes">
                </form>
                <br>
                {% endfor %}
            </section>

{% endblock %}

    

