{% extends 'base.html' %}

{% block content %}

<h2> Runner directory</h2>


<section>
    <form action="/runners/new" methods=["GET"]>
    <input type="submit" value="Add New Runner">
    </form>
</section>

{% for runner in all_runners %}

<table>
    </tr>
        <th>Runner's ID</th>
           <tr> <td> {{runner.id}}{{runner.first_name}} {{runner.last_name}} </td></tr>       
    <th>Runners Name</th>

    </table>

    {% endfor %}

    {% endblock %}
    
    <a href="runners/new">Add new runner</a>
