{% extends 'runners/base.html' %}

{% block content %}

<h3>Add a new trail dog here !</h3>

        <form action="/runners" method="POST">
                <div>
                <input type="text" name="first_name" id="runner-first-name" placeholder="first name"> <br>
                <input type="text" name="last_name" id="runner-last-name" placeholder="last name"> <br>
                <input type="submit" value="Submit">
                </div>
        </form>


<aside>
        <form action="/" method="POST"></form>
        <input type="submit" value="Home">
           
</aside>

{% endblock content %}

