{% extends 'base.html' %}

{% block content %}

<h3>Add a new trail dog here !</h3>

        <form action="/runners" method="POST">
                <div>
                <label for="first-name">First Name :</label>
                <input type="text" name="first_name" id="runner-first-name" placeholder="required field" required> <br>
                <br>
                <label for="last-name">Last Name :</label>
                <input type="text" name="last_name" id="runner-last-name" placeholder="required field" required> <br>
                <br>
                <input type="submit" value="Submit">
                </div>
        </form>


<aside>
        <form action="/" method="POST">
        <input type="submit" value="Home">
</form>
</aside>

{% endblock content %}

