.footer {
    background-image:     <div>
    <img src="/static/images/JPlogo1.5.png" alt="">
</div>;
}

.footer {
    background-image: url('/static/images/JPlogo1.5.png');
    background-position: ;
}