body > header {
    background-color: ;
    padding: 10px;
    
  }

  .Header-image {
    width: 100%;
    background-image: url('/static/images/Ochils_pano.jpg');
    background size: cover;
  }


  .menu {
    display: flex;
    flex-direction: row;
    list-style: none;  
    justify-content: space-evenly;
    
  } 

  .menu > li {
    display: block;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    
  }
  
  .menu > li > a {
    text-decoration: none;
  }