body {
    /* background: url('/static/images/background1.jpg');
    background-size: cover;
    background-repeat: no-repeat; */
    color: hsl(133, 88%, 25%);
    font-family: "Nunito", sans-serif;
    padding: 0px;
    margin: 0px;
  }

  .menu {
    display: inline-flex;
    background-color: white;
    

  } 

  /* .menu li:first-child {
    margin-right: auto; */
  /* } */
  .menu li {
  list-style: none;
  }
  
  .menu a {
    margin: 10px;
    border-radius: 5px;
    background: ;
    color: hsl(133, 88%, 25%);
    display: block;
    padding: 15px;
    text-decoration: none;
  }

