{% extends 'base.html' %}

{% block content %}
    
<h3>Update {{ race.title }} !</h3>

        <form action="/races/{{ race.id }}" method="POST">
                <div>
                    <label for="title">Race Title: </label>
                    <input type="text" name="title" id="title" value="{{ race.title }}" required> <br>
                    <br>
                    <label for="date">Date (YYYY-MM-DD): </label>
                    <input type="text" name="date" id="date" value="{{ race.date }}" required> <br>
                    <br>
                    <label for="distance">Distance (Km's): </label>
                    <input type="text" name="distance" id="distance" value="{{ race.distance }}" required> <br>
                    <br>
                    <label for="Elevation">Elevation (m): </label>
                    <input type="text" name="elevation" id="elevation" value="{{ race.elevation }}" required> <br>
                    <br>
                    <input type="submit" value="Update">
                </div>
        </form>
        <form action="/" method="POST"></form>
        <input type="submit" value="Home">


{% endblock content %}


