{% extends 'base.html' %}

{% block content %}
    <h2> Race Schedule</h2>


    <section>
        <form action="/races/new" methods=["GET"]>
        <input type="submit" value="Add New Race">
        </form>
    </section>
    <p>
    <!-- <section>
        <a href="/races/race_result"></a>
        <form action="/races/race_result" methods=["GET"]>
        <input type="submit" value="Show Recent Results">
        </form>
    </section> -->
    </p>

    <section>
   {% for race in all_races  %}
       
   <p>
       Race Name: <a href="/races/{{ race.id }}">{{ race.title }}</a>
       <br> Race Date: {{race.date}},<br> Total Distance: {{race.distance}},<br> Total Elevation: {{race.elevation}}
   </p>
        <aside>
            <img src="" alt="{{ race.title }}">
        </aside>
        <br>
        <form action="/races/{{ race.id }}/edit" methods="GET">
            <input type="submit" value="Edit">
        </form>

        <form action="/races/{{ race.id }}/delete" method="POST">
            <input type="submit" value="Delete">
        </form>
   <hr>

   {% endfor %}

</section>
    

{% endblock content %}