{% extends 'base.html' %}

{% block content %}

<h3 class="new-race">Add a new trail race here !</h3>

        <form action="/races" method="POST">
                <div>
                <label for="title">Race Title: </label>
                <input type="text" name="title" id="title" placeholder="What's it called ?"> <br>
                <br>
                <label for="date">Date (YYYY-MM-DD): </label>
                <input type="text" name="date" id="date" placeholder="YYYY-MM-DD"> <br>
                <br>
                <label for="distance">Distance: </label>
                <input type="text" name="distance" id="distance" placeholder="How Far ? (kms)"> <br>
                <br>
                <label for="elevation">Elevation: </label>
                <input type="text" name="elevation" id="elevation" placeholder="How high ? (m)"> <br>
                <br>
                <input type="file" onchange="previewFile()"><br>
                        <img src="" height="200" alt="Image preview...">
                <input type="submit" value="Submit">
                </div>
        </form>


<aside>
        <form action="/" method="POST"></form>
        <input type="submit" value="Home">
           
</aside>

{% endblock content %}

