<!-- show race results here in table -->

{% extends 'base.html' %}

{% block content %}
    <div>
    <!-- </section>
    <section>
        <form action="/races/{{ race.id }}/race_results" method="POST">
            <input type="submit" value="Recent Results">
        </form>
    </section> -->
    <hgroup>
        <h1> {{ race.title }} </h1>
        <h2>Details :</h2>
    </hgroup>
        <p>
            When is it ? : {{race.date}},<br> How Far ? : {{race.distance}} Km's,<br> How High ? : {{race.elevation}} Meters
        </p>
    
    <aside>
        <img src="" alt="{{ race.title }}">
    </aside>
    <table>
        <thead>
            <tr>
                <th colspan="4">Most Recent Results</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Position :</td>
                <td>First Name :</td>
                <td>Last Name :</td>
                <td>Time :</td>
            </tr>
        <!-- </tbody>
    </table>
    <h2> Recent Results</h2>
        <section> -->
            {% set count = namespace(value=1) %}
            {% for runner in runners  %}
            <tr>
                <td>
                    {{ count.value }}
                    {% set count.value = count.value + 1 %}
                </td>
                <td>
                    {{ runner.first_name }}
                </td>
                <td>
                    {{ runner.last_name }}
                </td>
                <td>
                    {% for result in race_results %} 
                        {% if result.runner.id == runner.id and result.race.id == race.id %}    
                        {{ result.time }}
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        <div>
            <a href="/races/{{ race.id }}/edit">Edit Race</a>
        </div>
    </div>   

{% endblock content %}