<!DOCTYPE html>
<html lang="en">
    <head>    
        <title>Falkirk Trail Runners</title>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
            <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    </head>
    <body id="app">
        <article >
            <header class="header-image">
                <!-- header start -->
                    <nav>
                        <h1 class="logo" >Falkirk Trail Runners</h1>
                        <ul class="menu">
                            <li><a href="/">Home</a></li>
                            <li><a href="/races">Races</a></li>
                            <li><a href="/runners">Runners</a></li>
                            <li><a href="/results"> Recent Results</a></li>
                        </ul>
                    </nav>
            </header>
            <!-- header end -->
            <!-- main content body -->
            <main>
                <Section>
                    {% block content %}
                            
                    {% endblock content %}
                </Section>
            </main>
            <!-- main content body ends -->
            <!-- footer starts -->
                <footer class="JP">
                        <div >
                            @2020 - JustPeaking
                        </div>
                </footer>
            <!-- footer ends -->
        </article>
    </body>
</html>