<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
    <title>Falkirk Trail Runners</title>

</head>
<body>
    <h1>Falkirk Trail Runners - Race Manager</h1>
<nav>
    <ul class="menu">
        <li><a href="/">Home</a></li>
        <li>
            Races
            <ul>
                <li><a href="/Races">Races</a></li>
                <li><a href="/races/new"></a></li>
            </ul>
        </li>
        <li>
            Runners
            <ul>
                <li><a href="/runners/index.html">runners</a></li>
                
            </ul>
        </li>
        <li>
            Upcoming Races
            <ul>
                <li><a href="/Upcoming_races">Upcoming_Races</a></li>
                
            </ul>
        </li>

    </ul>
</nav>

<Section>
    {% block content %}
            
    {% endblock content %}
</Section>
</body>
</html>